.footer{
    height: 16vw;
    margin-top: 50px;
   background-color: rgb(242, 247, 217);
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
 
}
footer strong{
    color: black;
    width: 25%;
}
.redes img{
    width: 4vw;
    padding: 0px 15px;
}